@charset "UTF-8";
/* CSS Document */
/*################################################### TYPOGRAPHY ###############################################################*/
@font-face {
	font-family: InterstateRegular;
	src: url('../fonts/XXX.ttf');
	font-weight:normal;
}
h2{ font-size: 17px; font-family: InterstateRegular, Arial, Helvetica, sans-serif !important;font-weight:normal !important; }
h1{ font-size: 25px; font-family: InterstateRegular, Arial, Helvetica, sans-serif !important;font-weight:normal !important;  }


/*################################################### Main structure / layout ###############################################################*/

/* ######################################################### Body #########################################################################*/
body{ background-color:#000; margin:0; padding:0; height:100%; color:#bf77c2; font-size: 17px; font-family: InterstateRegular, Arial, Helvetica, sans-serif !important;font-weight:normal !important;}
#wrapper{width:100%; background:#000; background:url('../images/background-main.jpg') 150 0  no-repeat; }

/* ######################################################### Header #########################################################################*/
header { height:350px; background:url('../images/logo.png') 15px 15px no-repeat; margin:0 5px 0; }
/* ######################################################### Section #########################################################################*/
section {color:#ffffff; font-size:14px;}
section label{color:#bf77c2; font-size:13px; display:block; text-indent:0px; font-weight:bold; margin:0 0 3px 0; }
section label span{ color:#ffffff; font-size:10px; font-weight:light; }
section input, section select{color:#333; font-size:14px; margin:5px 0px; background-color:#bdbec0; border:0; height:28px; color:#333;}
section#dealer { width:810px; background:rgba(0,0,0, 0.9); padding:45px 55px 45px 55px;position:absolute; top:0; z-index:15; left:-950px;}
section.nonDealer{ }
section article#welcomeMsg{ width:850px; padding:55px; position:relative; top:0; z-index:10; height:750px;}
section#dealer article h1{font-size:17px;}
section#dealer.guestInfo { width:810px;}

/* ######################################################### Forms Elements #########################################################################*/
.line{width:800px; border-bottom:2px #FFF solid; }
.whiteLine{margin:10px 0 35px 0;}
.darkPurple{ border-bottom-color:#bf77c2; margin:10px 0 35px 0;}
.white{ border-bottom-color:#ffffff;}


/* input widths */

.title{width:auto; margin:0 10px 0 0;}
.surname{width:355px;}
.firstname{width:355px; }
.dob{width:275px;}
.passport{width:510px;}
.mail{width:390px;}
.phone{width:394px;}
.jacket{ width:565px; border-right: 2px #eee solid; }
.gender{ width:190px; /*background:#FCC; */}
.dietaryReq{width:800px;}
.fflyer, .depCity, .retCity{width:257px;}

.sizes{ display:inline-block; margin:0 10px 10px 0; }
.sizes input, .sizes p{display:inline-block;  }
.sizes p {color:#bf77c2; font-weight:bold; padding:0 20px 5px 0px; height:25px; line-height:35px; margin:0; }
.sizes input {}
.genders{ display:inline-block; margin:0 5px 10px 0; }
.genders p {color:#bf77c2; font-weight:bold; padding:0 0px 5px 0px; height:25px; line-height:35px; margin:0; }
.genders input {}
.genders input, .genders p{ display:inline-block;  }
.inline{display:inline;}
.radioBig {
  width:25px; height:15px; margin:10px 0 0 0; padding:15px 0 10px 0 ;
   background:#F00;
}

.guestInfo {display:none;}
.row1{ display:inline-block; margin:0 10px 10px 0;}
.row1 input{width:100%;}

.row2{display:inline-block; margin:0 10px 10px 0;}
.row2 input{width:100%;}

.row3{display:inline-block; margin:0 10px 10px 0;}
.row3 input{width:100%;}

.row4 {display:inline-block; margin:0 10px 10px 0;}
.row4 input {width:100%;}
.row5 {display:inline-block; margin:0 10px 10px 0;}
.row5 input{width:100%;}


/* ######################################################### artical #########################################################################*/
article {}

/* ######################################################### footer #########################################################################*/
footer {}
footer ul{ list-style:none; margin:0 0 0 15px; padding:0;}
footer li{ display:inline; width:auto; margin-left:5px; padding:0 5px;}


/* ######################################################### Table #########################################################################*/


/* ######################################################### colours #########################################################################*/





/* ######################################################### Table Spacing #########################################################################*/

.left{ text-align:left; width:10px; }
.right{ text-align:left; width:10px;}

.center { text-align:center; }


